<!DOCTYPE html>
<html>
<head>
<title>Vente</title>
</head>
<body>

  <link rel="stylesheet" type="text/css" href="stylesheets/entete.css">
   <link rel="stylesheet" type="text/css" href="stylesheets/selling.css">
   <link rel="stylesheet" type="text/css" href="stylesheets/servicesbarre.css">

   <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />

<div>
   <div class="columnLogo">   
    <p> Campus <br> Louvain-la-Neuve </p>
</div>  

<div class="columnLogo" style="text-align: center;">
  <img src="pictures/logoSMOOK.png" style="width:200px; height:auto; cursor: pointer" onclick="window.location.href='index.html'">
</div>
   <!--login -->
   <div class="columnLogo">
   <div class="header" align="right"><button style=" cursor: pointer" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button></div>

 <div class="header" align="right"><button style=" cursor: pointer" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign up</button></div>
 <img src="pictures/K.jpg" alt="Avatar" style=" cursor: pointer" class="avatar">
</div>
</div>

  <div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
   
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Mot de passe</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<!-- sign up -->
<!-- 
 <div align="right"><button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign up</button></div> -->
        


<div id="id02" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
    
    <div class="container">

      <label for="prenom"><b>Prenom</b></label>
      <input type="text" placeholder="Entrer Prenom" name="prenom" required>

      <label for="nom"><b>Nom</b></label>
      <input type="text" placeholder="Entrer Nom" name="nom" required>

      
      <label for="mail"><b>Email</b></label>
      <input type="text" placeholder="Entrer adresse mail" name="mail" required>

       

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="annee"><b>Annee</b></label>
        <select name="cars" required>
             <option value="bac1">BAC1</option>
            <option value="bac2">BAC2</option>
            <option value="bac3">BAC3</option>
            <option value="ma1">MA1</option>
            <option value="ma2">MA2</option>
        </select> 

      <button type="submit">S'enregistrer</button>
      
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>      
    </div>
  </form>

</div>

<!-- barre des services -->
<div>
<button class="btnserv mob" style="background-color: #17426d;color: white">Mobilier</button>
<button class="btnserv entraide" onclick="window.location.href='entraide.html'">Entraide</button>
<button class="btnserv map" onclick="window.location.href='map.html'">Carte</button>
<button class="btnserv stockage" onclick="window.location.href='stockage.html'">Logistiques</button>
</div>

<!-- banniere -->
<div class="container-banner">
  <img src="pictures/Mobilier Banner2.jpg" style="margin-top:10px;width:100%">
  <div class="banner">VENTE</div>
  

</div><!-- partie vente -->

<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
<h2>Nouvelle annonce</h2>
<div class="row2">
<div class="column2">
  <textarea  id="putIMG" placeholder="Importer images" style="width:300px ;height:300px;border: 2px solid black"></textarea>
  <img id="blah" src="#" style="border-radius: 4px;display:none;width:290px ;height:290px;border: 2px solid black"/>
  <form action="/fileupload" method="post" enctype="multipart/form-data" target="dummyframe">
  <input type="file" id="uploadIMG" name="uploadIMG" onchange="changePicture(this);" multiple>
  <input id="submitFile" type="submit" onclick="submitAll();">
</form>
</div>
<div class="column2">
<div class="container">
  <form action="/poster_annonce">    
    <div class="row2">
      <div class="col-25">
        <label for="etat">Categorie</label>
      </div>
      <div class="col-75">
        <select id="cat" name="categories">
          <option onclick="setFieldsMobilier()" value="mobilier">Mobilier</option>
          <option onclick="setFieldsElectro()" value="electronics">Electromenager</option>
          <option onclick="setFieldsVaisselle()" value="vaisselle">Vaisselle/ustensiles</option>
          <option onclick="setFieldsLampe()" value="lampe"> Lampe </option>
        </select>
      </div>
    </div>
    <div class="row2">
      <div class="col-25">
        <label id="id-souscatMob" for="souscat">Sous-categorie</label>
      </div>
      <div class="col-75">
        <select id="souscatMob" name="souscategoriesMob">
          <!-- sous-cat mobilier -->
          <option id="optMob" value="armoire">Armoire</option>
          <option id="optMob" value="bureau">Bureau </option>
          <option id="optMob" value="chaise"> Chaise</option>
          <option id="optMob" value="chaisebureau">Chaise de bureau </option>
          <option id="optMob" value="lit"> Lit</option>
          <option id="optMob" value="table">Table </option>
          <option id="optMob" value="tablebasse"> Table basse</option>
          <option id="optMob" value="tabledenuit"> Table de nuit</option>
          </select>
      </div>
    </div>
    <div class="row2">
      <div class="col-25">
        <label id="id-souscatElec"for="souscat">Sous-categorie</label>
      </div>
      <div class="col-75"> 
         <select id="souscatElec" name="souscategoriesElec">
          <!-- sous-categorie electronique -->
          <option id="optElec" value="aspirateur">Aspirateur</option>
          <option id="optElec" value="balance">Balance</option>
          <option id="optElec" value="bouilloire">Bouilloire</option>
          <option id="optElec" value="four">Four</option>
          <option id="optElec" value="frigo">Frigo</option>
          <option id="optElec" value="grillepain">Grille-pain</option>
          <option id="optElec" value="lavevaisselle">Lave vaisselle</option>
          <option id="optElec" value="machinecafe">Machine a cafe</option>
          <option id="optElec" value="microondes">Micro-ondes</option>
          <option id="optElec" value="mixeur">Mixeur</option>
          </select>
      </div>
    </div>
    <div class="row2">
      <div class="col-25">
        <label id="id-souscatVaisselle" for="souscat">Sous-categorie</label>
      </div>
      <div class="col-75">
         <select id="souscatVaisselle" name="souscategoriesVaiss">
          <!-- sous-categorie vaisselle -->
          <option id="optVaisselle" value="allumegaz">Allume-gaz</option>
          <option id="optVaisselle" value="assiette">Assiette</option>
          <option id="optVaisselle" value="bols">Bols</option>
          <option id="optVaisselle" value="chopsticks">Chopsticks</option>
          <option id="optVaisselle" value="couverts">Couverts</option>
          <option id="optVaisselle" value="couteaux">Couteaux</option>
          <option id="optVaisselle" value="ciseaux">Ciseaux</option>
          <option id="optVaisselle" value="fouet">Fouet</option>
          <option id="optVaisselle" value="manique">Manique</option>
          <option id="optVaisselle" value="moulegateau">Moule a gateaux</option>
          <option id="optVaisselle" value="poele">Poele</option>
          <option id="optVaisselle" value="raclette">Raclette</option>
          <option id="optVaisselle" value="rape">Rape</option>
          <option id="optVaisselle" value="seau">Seau</option>
          <option id="optVaisselle" value="sousplat">Sous-plat</option>
          <option id="optVaisselle" value="spatule">Spatule</option>
          <option id="optVaisselle" value="verres">Verres</option>
</select>
      </div>
    </div>
    <div class="row2">
      <div class="col-25">
        <label id="id-souscatLampe" for="souscat">Sous-categorie</label>
      </div>
      <div class="col-75">
         <select id="souscatLampe" name="souscategoriesLampe">

          <!-- sousc-categorie lampe -->
          <option id="optLampe" value="lampeaposer"> Lampe a poser </option>
          <option id="optLampe" value="lampebureau"> Lampe de bureau </option>
          <option id="optLampe" value="lampechevet"> Lampe de chevet </option>          
          <option id="optLampe" value="lustre"> Lustre </option>

        </select>
      </div>
    </div>
    
    <div class="row2">
      <div class="col-25">
        <label id="marque-id" for="marque">Marque</label>
      </div>
      <div class="col-75">
        <input type="text" id="marque" name="marq" placeholder="La marque de votre objet...">
      </div>
    </div>
    <div class="row2">
      <div class="col-25">
        <label for="objet">Couleur</label>
      </div>
      <div class="col-75">
        <input type="text" id="couleur" name="color" placeholder="Couleur de votre objet...">
      </div>
    </div>
    
    <div class="row2">
      <div class="col-25">
        <label for="objet">Etat</label>
      </div>
      <div class="col-75">
        <input type="text" id="etat" name="etat" placeholder="Ex: comme neuf, tres bon, bon, moyen...">
      </div>
    </div>
    
    <div class="row2">
      <div class="col-25">
        <label for="objet">Matiere</label>
      </div>
      <div class="col-75">
        <input type="text" id="matiere" name="matiere" placeholder="Ex: cuir, tissu, bois, plastique...">
      </div>
    </div>
    
    <div class="row2">
      <div class="col-25">
        <label for="objet">Age</label>
      </div>
      <div class="col-75">
        <input type="text" id="age" name="age" placeholder="Age de votre objet...">
      </div>
    </div>
    
    <div class="row2">
      <div class="col-25">
        <label for="objet">Dimensions</label>
      </div>
      <div class="col-75">
        <input type="text" id="dim" name="dim" placeholder="Dimensions de votre objet...">
      </div>
    </div>
    
    <div class="row2">
      <div class="col-25">
        <label for="objet">Prix</label>
      </div>
      <div class="col-75">
        <input type="text" id="prix" name="price" placeholder="Prix...">
      </div>
    </div>
    
    <!-- <div class="row"> -->
      <!-- <div class="col-25"> -->
        <!-- <label for="description">Description</label> -->
      <!-- </div> -->
      <!-- <div class="col-75"> -->
        <!-- <textarea id="description" name="description" placeholder="Description detaillee..." style="height:200px"></textarea> -->
      <!-- </div> -->
    <!-- </div> -->
    
  
</div>
</div>
</div>
<div class="row2">
  <textarea id="description" name="description" placeholder="Description detaillee..." style="height:200px;width:99%;border: 2px solid black;margin: 10px"></textarea>
  <div class="row2">
      <input type="text"  id="imgName" name='imgName' style="display: none">
      <input type="submit" value="Soumettre mon annonce">
        <!-- <input type="submit"  id="sub" style="display: none"> -->
    </div>
</div>
</form>

<script type="text/javascript">
  
  //Cette fonction doit enlever tout les champs et sous categories qui ne doivent pas etre visible
  //pour un mobilier. Elle doit egalement rendre explicitement visible les champs et options qui
  //doivent l etre. Il faut mettre des ids a tout les champs et options...
  function setFieldsMobilier(){
    document.getElementById('id-souscatMob').selected='selected' 
    document.getElementById('souscatMob').selected='selected' 
    document.getElementById('id-souscatElec').style.display='none'
    document.getElementById('souscatElec').style.display='none'
    document.getElementById('id-souscatVaisselle').style.display='none' 
    document.getElementById('souscatVaisselle').style.display='none'
    document.getElementById('id-souscatLampe').style.display='none' 
    document.getElementById('souscatLampe').style.display='none'
  }

   function setFieldsElectro(){
    document.getElementById('id-souscatMob').style.display='none' 
    document.getElementById('souscatMob').style.display='none' 
    document.getElementById('id-souscatElec').style.display='block'
    document.getElementById('souscatElec').style.display='block' 
    document.getElementById('id-souscatVaisselle').style.display='none' 
    document.getElementById('souscatVaisselle').style.display='none'
    document.getElementById('id-souscatLampe').style.display='none' 
    document.getElementById('souscatLampe').style.display='none'
  }

  function setFieldsVaisselle(){
    document.getElementById('id-souscatMob') .style.display='none' 
    document.getElementById('souscatMob') .style.display='none' 
    document.getElementById('id-souscatElec').style.display='none'
    document.getElementById('souscatElec').style.display='none'
    document.getElementById('id-souscatVaisselle').style.display='block'
    document.getElementById('souscatVaisselle').style.display='block'
    document.getElementById('id-souscatLampe').style.display='none' 
    document.getElementById('souscatLampe').style.display='none'
  }


  function setFieldsLampe(){
    document.getElementById('id-souscatMob').style.display='none'  
    document.getElementById('souscatMob') .style.display='none'  
    document.getElementById('id-souscatElec').style.display='none'
    document.getElementById('souscatElec').style.display='none'
    document.getElementById('id-souscatVaisselle').style.display='none' 
    document.getElementById('souscatVaisselle').style.display='none'
    document.getElementById('id-souscatLampe').style.display='block'
    document.getElementById('souscatLampe').style.display='block'
  }


  //parce que mobilier est selectionne par defaut
  setFieldsMobilier()

  function changePicture(input){
      if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(296)
                    .height(296);
            };

            reader.readAsDataURL(input.files[0]);
            document.getElementById('putIMG').style.display='none';     
            document.getElementById('blah').style.display='block';  
       }
  }

  function submitAll(){
    
      document.getElementById("imgName").value = document.getElementById("uploadIMG").files[0].name

      //document.getElementById("sub").click();
  }
</script>

</body>
</html>
