<!DOCTYPE html>
<html>
<head>
    <title>Smook</title> <!--replace by name of website-->
</head>
<body>
   <link rel="stylesheet" type="text/css" href="stylesheets/entete.css">
   <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css">
   <link rel="stylesheet" type="text/css" href="stylesheets/servicesbarre.css">

   
<!-- Division avec campus,logo,login, sign up -->
<div>
   <div class="columnLogo">   
    <p> Campus <br> Louvain-la-Neuve </p>
</div>  

<div class="columnLogo" style="text-align: center;">
  <img src="pictures/logoSMOOK.png" style="width:200px; height:auto;  cursor: pointer" onclick="window.location.href='index.html'">
</div>
   <!--login -->
   <div class="columnLogo">
   <div class="header" align="right"><button style=" cursor: pointer" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button></div>

 <div class="header" align="right"><button style=" cursor: pointer" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign up</button></div>
 <img src="pictures/K.jpg" alt="Avatar" style=" cursor: pointer" class="avatar">
</div>
</div>

  <div id="id01" class="modal">
  
  <form class="modal-content animate" action="/login">
   
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" name="mail" required>

      <label for="psw"><b>Mot de passe</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <input type="submit" value="Login">
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<!-- sign up -->
<!-- 
 <div align="right"><button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign up</button></div> -->
        
<!-- </div> -->

<div id="id02" class="modal">
  
  <form class="modal-content animate" action="/signup" method="get">
    
    <div class="container">

      <label for="prenom"><b>Prenom</b></label>
      <input type="text" placeholder="Entrer Prenom" name="prenom" required>

      <label for="nom"><b>Nom</b></label>
      <input type="text" placeholder="Entrer Nom" name="nom" required>

      
      <label for="mail"><b>Email</b></label>
      <input type="text" placeholder="Entrer adresse mail" name="mail" required>

       

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="annee"><b>Annee</b></label>
        <select name="annee" required>
             <option value="bac1">BAC1</option>
            <option value="bac2">BAC2</option>
            <option value="bac3">BAC3</option>
            <option value="ma1">MA1</option>
            <option value="ma2">MA2</option>
        </select> 

      <input type="submit" value="S'enregistrer" onclick="document.getElementById('id02').style.display='none'">
      
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>      
    </div>
  </form>

</div>

<!-- barre des services -->
<div>
<button class="btnserv mob" onclick="window.location.href='categories.html'">Mobilier</button>
<button class="btnserv entraide" onclick="window.location.href='entraide.html'">Entraide</button>
<button class="btnserv map" onclick="window.location.href='map.html'">Carte</button>
<button class="btnserv stockage" style="background-color: #5c5c5b;color: white">Logistiques</button>
</div>
<h1>COMING SOON</h1>
</body>
</html>
