* {
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:25px;
   border-color: #17426d;
   display: inline-block;
   width:100vw;


}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    width:20px;

    /*margin: 0 auto;*/

}


.dropdown {
    float: left;
    overflow: hidden;
  /*margin-left: 25px;*/
  text-align: center;
  width:20vw;
  height:40%;
  padding: 20px;
}

.dropdown .dropbtn {
  background-color: white;
    cursor: pointer;
    font-size: 16px;    
    border: 10pt
    outline: none;  
    color: #17426d;
    padding: 10px 10px;
    font-family: inherit;
    margin: 0;
    max-width: 60%
    position:absolute;
    display: inline-block;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #17426d;
    border-color: #17426d;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0 auto;
    /*width:20vw;*/
}

.dropdown-content a {
    float: none;
    color: #17426d;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    width:auto;
}

.dropdown-content a:hover {
    background-color: steelblue;
}

.show {
    display: block;
}

.dropbtn {
  border: 1px solid #17426d;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.container-banner {
    position: relative;
    text-align: center;
    color: white;
}


/* Top left text */
.banner {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size:50px;
}

.banner-posterAnnonce {
    position: absolute;
    bottom: 30px;
    right: 40px;
    font-size:20px;
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}