/*Css friteuse*/
body {font-family: Lato, Light, sans-serif;}
/* Menu */
.vertical-menu {
    width: 200px;
    float: left;
}

.vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 1px;
    text-decoration: none;
    /*font-family:  lato light;*/
    font-size: 8pt;
    font-weight: bold;


}


.vertical-menu b {
    background-color: white;
    color: black;
    display: block;
    padding: 1px;
    text-decoration: none;
    /*font-family:  lato light;*/
    font-size: 8pt;
    margin-left: 25px;
    cursor: pointer;
    font-weight: normal;
}

.vertical-menu b:hover{
  font-weight: bold;
  font-style: italic;
}

/*.vertical-menu a:hover {*/
    /*background-color: #ccc;*/
/*}*/

/*.vertical-menu a.active {*/
    /*background-color:#3104B4;*/
    /*color: white;*/
/*}*/



/*.vertical-menu b.active {*/
    /*background-color: #4CAF50;*/
    /*color: white;*/
/*}*/

/* entetes */

.entetes {
	background-color: transparent;
    color: black;
    display: block;
    /*padding: 1px;*/
    /*font-family:  lato light;*/
    font-size: 10pt;
    /*margin: 10px;*/
    /*font-weight: bold;*/
}

/* Produits */

.row{
    text-align: center;
    /*padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;*/
    /*margin-left:15%;*/

}

/*.row:after {*/
    /*content: "";*/
    /*display: table;*/
    /*padding: 20px;*/
    /*padding:10px;*/
    /*margin-left: : 10px;*/
    /*margin-right:  10px;*/
    /*text-align:center;*/
/*;}*/

.container2 {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.container2 img {
    display: block;
    width: 100%;
    height: auto;
}

/*.container2 img:hover {
    background-color: black;
}*/

.container2 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container2 .btn:hover {
    background-color: black;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16pt;

}

.bottom-left2 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 14pt;
}

.bottom-right {
    position: absolute;
    bottom: 24px;
    right: 16px;
    color: white;
    
    font-size: 28pt
}
.bottom-right2 {
    position: absolute;
    bottom: 15px;
    right: 16px;
    color: white;
    
    font-size: 14pt
}

.overlay {    
  position:absolute;
  top:0.5vw;
  left:0.5vw;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 19vw;
  height:19vw;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 14pt;
  /*padding: 20px;*/
  text-align: center;
  cursor: pointer;
  /*top: 0%;*/
    /*left: 0%;*/
    /*transform: translate(-50%, -50%);*/
}

.overlay .achat{
  background: transparent; 
  width: 20%;
 border: 2px solid  #17426d;
  text-align: center;
  position:absolute;
  left:100px;
    top:100px;
  color: white;
  transition: .5s ease;
   font-size: 10pt;
   cursor: pointer;
}

.overlay .vente{
  background: transparent; 
  width: 40%;
  border: 2px solid  #17426d;
  text-align: center;
  position:absolute;
  left:1.5vw;
  top:16.5vw;
  color: white;
  transition: .5s ease;
   font-size: 10pt;
   cursor: pointer;
}
.container2:hover .overlay {
  opacity: 1;
}


.column {
    float: left;
    width: 20vw;
    height: 20vw;
    /*padding: 10px;*/
    /*margin-left:100px;*/
}

.column img:hover {
    /*opacity: 1;*/
}

.column img {
	height: 20vw;
	width: 20vw;
  padding:0.5vw
    /*opacity: 0.8; */
    /*cursor: pointer; */
}