
* {box-sizing: border-box;}




.row{
    text-align: center;
    /*margin-left:15%;*/

}

.row:after {
    content: "";
    display: table;
    clear: both;
    /*padding:10px;*/
    margin-left: : 20px;
    margin-right:  20px;
    text-align:center;
}

.container2 {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.container2 img {
    display: block;
    width: 100%;
    height: auto;
}

.container2 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container2 .btn:hover {
    background-color: black;
}

.bottom-left {
    position: absolute;
    bottom: 24px;
    left: 16px;
    color: white;
    font-size: 28pt;
}

.bottom-left2 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 14pt;
}

.bottom-right {
    position: absolute;
    bottom: 24px;
    right: 16px;
    color: white;
    
    font-size: 28pt
}
.bottom-right2 {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    
    font-size: 14pt
}

.overlay {    
  position:absolute;
  top:0;
  background: transparent; /* Black see-through */
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 14pt;
  /*padding: 20px;*/
  text-align: center;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay .achat{
  background: transparent; 
  width: 20%;
 border: 2px solid  #17426d;
  text-align: center;
  position:absolute;
  left:100px;
    top:100px;
  color: white;
  transition: .5s ease;
   font-size: 10pt;
   cursor: pointer;
}

.overlay .vente{
  background: transparent; 
  width: 20%;
  border: 2px solid  #17426d;
  text-align: center;
  position:absolute;
  left:200px;
    top:100px;
  color: white;
  transition: .5s ease;
   font-size: 10pt;
   cursor: pointer;
}
.container2:hover .overlay {
  opacity: 1;
}


.column {
    float: left;
    width: 30vw;
    height: 40vh;
    padding: 10px;
    /*margin-left:100px;*/
}

/*.services4{*/
    /*text-align: center;*/
/*}*/